/* Add CSS styling here */

body {
  width: 50%;
  margin: 0 auto;
}

.title {
  display: flex;
  flex-direction: column;
  text-align: center;
}

.title h2 {
  margin-top: 20px;
  margin-bottom: 0px;
}

.pictures {
  display: flex;
}

.pictures img {
  width: 15%;
  margin: 5px;
}

.pictures p {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 50px;
}

.nav a {
  border: 1px solid black;
  padding: 5px;
  text-decoration: none;
  color: black;
}

.nav a:hover {
  background-color: black;
  color: white;
}

footer {
  background-color: lightgray;
  text-align: center;
  padding: 20px;
}

button {
  padding: 10px;
}

.title-text {
  padding: 0 40px;
}